<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a {{action 'backToHome' target="view"}}>Fun Schedular</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {{#if userLoggedIn}}
        <li>{{facebook-login user=currentUser}}</li>
        <li {{action 'visitUser' currentUser}} class='error'>{{currentUser.firstName}}</li>
        <li><a {{action 'logout'}}>Log Out</a></li>
      {{else}}
        <li class='error'>{{errors}}</li>
        <li><a {{action 'toggleLogin' target='view'}} >Log In</a></li>
      {{/if}}
      <li><a {{action 'visitUsers'}} > Users
      <li class="has-dropdown">
        <a {{action 'toggleDropdown' target="view"}}></a>
        <ul class="dropdown">
          <li><a {{action "goTo" "ruby" target='view'}}>I love ruby</a></li>
        </ul>
      </li>
    </ul>

  </section>
</nav>

{{#if view.loggingIn}}
  {{partial 'login'}}
{{/if}}
