
<div id="cube-wrapper" >
  <section id="options">
    <p id="show-buttons">
      <button {{action "showBottom"}}>Show 1</button>
      <button {{action "showFront"}}>Show 2</button>
      <button {{action "showTop"}}>Show 3</button>
      <button {{action "showBack"}}>Show 4</button>
      <button {{action 'createEvent'}}>SUBMIT</button>
    </p>
  </section>

  <ul>
    <li class="container">
      <div id="cube" class="show-bottom">

        <figure class="bottom">
          {{input value=content.name}}
          {{content.name}}
        </figure>

        <figure class="front">
          {{time-selector value=beginTime date=date type="begin"}}
          {{time-selector value=endTime date=date type='end'}}
        </figure>

        <figure class="top">
          {{content.date}}
          {{calendar-picker day=content.moment chooseDate='chooseDate' param=day}}
        </figure>

        <figure class="back">
          {{google-places action='chooseLocation'}}
          {{google-map latitude=latitude longitude=longitude}}
        </figure>

      </div>
    </li>
  </ul>
</div>

<div class='overlay' {{action "cancelNewEvent" }}></div>

