
<div id="cube-wrapper">

  <section id="options">
    <ul id="show-buttons">
      {{#each button in buttons}}
        <li>
          {{circle-button label=button.label action=button.action completed=button.completed}}
        </li>
      {{/each}}
    </ul>
  </section>

  <ul>
    <li class="container">
      <div id="cube" class="show-bottom">

        <figure class="bottom">
          {{input value=content.name}}
          {{content.name}}
        </figure>

        <figure class="front">
          <div class='time'>{{time-selector value=beginTime type="begin"}}</div>
          <div class='date'>{{calendar-picker day=content.moment chooseDate='</div>chooseDate' param=day}}
        </figure>

        <figure class="top">
          <div class='time'>{{time-selector value=endTime type="end"}}</div>
          <div class='date'>{{calendar-picker day=content.moment chooseDate='chooseDate' param=day}}</div>
        </figure>

        <figure class="back">
          {{google-places action='chooseLocation'}}
          {{google-map latitude=latitude longitude=longitude}}
        </figure>

      </div>
    </li>
  </ul>
</div>

<div class='overlay' {{action "cancelNewEvent" }}></div>

